<%- include('partials/header') %>

<section id="pricing">
  <h2>A Plan for Every Cat's Needs</h2>
  <p>Simple and affordable price plans for your and your cat.</p>

  <div class="row">
    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header"><h3>Siberian</h3></div>
        <div class="card-body">
          <h2 class="price-tags">Free</h2>
          <p>5 Matches Per Day</p>
          <p>10 Messages Per Day</p>
          <p>Unlimited App Usage</p>
          <button class="btn w-100 btn-outline-dark btn-lg" type="button">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header"><h3>Shorthair</h3></div>
        <div class="card-body">
          <h2 class="price-tags">$19 / mo</h2>
          <p>Unlimited Matches</p>
          <p>Unlimited Messages</p>
          <p>Unlimited App Usage</p>
          <button class="btn w-100 btn-dark btn-lg" type="button">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="pricing-column col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header"><h3>Bengal</h3></div>
        <div class="card-body">
          <h2 class="price-tags">$29 / mo</h2>
          <p>Pirority Listing</p>
          <p>Unlimited Matches</p>
          <p>Unlimited Messages</p>
          <p>Unlimited App Usage</p>
          <button class="btn w-100 btn-dark btn-lg" type="button">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
